$main-color: #383637;
$secondary-color: #f8e8d8;
$accent-color: #bf0404;

:root {
  //modification parametre par defaut de Tooltip
  --rt-opacity: 1;
}
* {
  font-family: "Alkatra", cursive;
}
body {
  margin: 0;
  padding: 0;
  background-color: $main-color;
  color: $secondary-color;
}

.App {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Logo {
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .Yokai {
      width: 20rem;
      display: flex;
      justify-content: center;
      margin: 0%;
    }
    .ID {
      display: flex;
      justify-content: center;
      padding-top: 0.5rem;
    }
    .marque-ver {
      max-width: 45em;
      height: 10em;
      margin: 2em auto;
      overflow: hidden;
    }
    .marque-ver > div {
      padding: 2em;
      padding-top: 6em; /* meme que height du parent */
      animation: defilement-ver 30s infinite linear;
      cursor: pointer;
    }
    .marque-ver:hover > div {
      animation-play-state: paused;
    }
    .msg {
      font-size: 1.5em;
      line-height: 1.5em;
    }
    .msg:first-letter {
      font-weight: 700;
      color: #f00;
    }

    @keyframes defilement-ver {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(0, -100%, 0);
      }
    }
    button {
      float: right;
    }
  }
}
.tooltip {
  background-color: $main-color;
  color: $secondary-color;
  border-radius: 1rem;
}

button {
  font-size: 2em;
  background-color: $secondary-color;
  color: $main-color;
}

.buttonTemple {
  border-radius: 50%;
  border-color: $accent-color;
  font-size: 0rem;
  cursor: pointer;
  background-color: $secondary-color;
  z-index: 2;
  img {
    width: 3rem;
  }
}

.quizz {
  width: 75%;
  text-align: center;
}

.answers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  button {
    width: 45%;
    margin-bottom: 1rem;
  }
}

.mapContainer {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 75px);
  grid-template-rows: repeat(12, 75px);
  .japonMap {
    width: auto;
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}

.buttonTemple1 {
  grid-column-start: 9;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}

.buttonTemple2 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
}

.buttonTemple3 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 8;
}

.buttonTemple4 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 9;
}

.buttonTemple5 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 10;
}

.buttonTemple6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 11;
}

.buttonTemple7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
}

@media (orientation: landscape) {
  .infoQuizz {
    width: 45%;
  }
}
