$main-color: #383637;
$secondary-color: #f8e8d8;
$accent-color: #bf0404;
$grid-map: 20;

:root {
  //modification parametre par defaut de Tooltip
  --rt-opacity: 1;
}
* {
  font-family: "Alkatra", cursive;
}
body {
  margin: 0;
  padding: 0;
  background-color: $main-color;
  color: $secondary-color;
}

.App {
  display: flex;
  justify-content: center;
  .Home {
    background-image: url(assets/parchemin.png);
    background-position: bottom;
    background-size: 50rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    .login {
      padding-bottom: 1.5rem;
    }
    .Logo {
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .Yokai {
      width: 20rem;
      display: flex;
      justify-content: center;
      margin: 0%;
    }
    .ID {
      display: flex;
      justify-content: center;
      padding-top: 0.5rem;
    }
    .marque-ver {
      max-width: 22em;
      height: 14em;
      margin: 2em auto;
      overflow: hidden;
    }
    .marque-ver > div {
      padding: 2em;
      padding-top: 6em; /* meme que height du parent */
      animation: defilement-ver 60s infinite linear;
      cursor: pointer;
    }
    .marque-ver:hover > div {
      animation-play-state: paused;
    }
    .msg {
      font-size: 1.5em;
      line-height: 1.5em;
    }

    @keyframes defilement-ver {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(0, -100%, 0);
      }
    }
    button {
      float: right;
    }
  }
}
.tooltip {
  background-color: $main-color;
  color: $secondary-color;
  border-radius: 1rem;
  border: 1px solid $accent-color;
  .arrow-tooltip{
    background-color: $accent-color;
  }
  img{
    height: 3rem;
  }
}

button {
  font-size: 2em;
  background-color: $secondary-color;
  color: $main-color;
}

.buttonTemple {
  border-radius: 50%;
  border-color: $accent-color;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: $secondary-color;
  img {
    width: 2rem;
  }
}

.quizz {
  text-align: center;
}
.player {
  text-align: center;
}

.answers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  button {
    padding: 1em;
    margin-bottom: 1rem;
  }
}

.Game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-content: space-around;
}
.yokai {
  text-align: center;

  img {
    height: 10rem;
    width: auto;
  }
}
.infoQuizz {
  display: none;
}

.mapContainer {
  margin-top: 10rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat($grid-map, 100%/$grid-map);
  grid-template-rows: repeat($grid-map, 100%/$grid-map);
  .japonMap {
    width: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}

.buttonTemple1 {
  grid-column-start: 17;
  grid-row-start: 3;
}

.buttonTemple2 {
  grid-column-start: 16;
  grid-row-start: 8;
}

.buttonTemple3 {
  grid-column-start: 15;
  grid-row-start: 11;
}

.buttonTemple4 {
  grid-column-start: 13;
  grid-row-start: 13;
}

.buttonTemple5 {
  grid-column-start: 11;
  grid-row-start: 15;
}

.buttonTemple6 {
  grid-column-start: 7;
  grid-row-start: 16;
}

.buttonTemple7 {
  grid-column-start: 5;
  grid-row-start: 18;
}

@media (orientation: landscape) {
  .infoQuizz {
    display: initial;
  }
  .yokai {
    img {
      height: 20rem;
      width: auto;
    }
  }
  .Game {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .mapContainer {
    margin-top: initial;
    height: 100vh;
    .japonMap {
      width: auto;
      height: 100%;
    }
  }
}

// Stopwatch scss //

.stopwatch-time {
  text-align: center;
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 0.5rem;
  left: 1.5rem;
  border: 2px red solid;
  padding: 5px;
  border-radius: 15px 15px 15px 15px;
}
